<launch>



	<include file="$(find aruco_pose_estimation)/launch/single_marker.launch"/>
	<include file="$(find ur10_rmf)/launch/ur10_test.launch"/>


	<!--arg name="positionConfig"    default="file://$(find objtf)/config/position.yaml" -->
	<!-- rosparam command="load" file="$(find rosparam)/config/position.yaml"  -->

	<!-- node pkg="tf" type="static_transform_publisher" name="cam_base_broadcaster" args="1 0 0 0 0 0 1 ee_link map 1500" -->


</launch>
